.Pagination {
  padding: 2rem;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  min-height: 20vh;
  align-items: center;
  justify-content: center;
  font-size: 12pt;
}

.header {
  margin-bottom: 10vh;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
}

.search-input {
  width: 50vw;
  height: 30pt;
  border: none;
  outline: none;
  padding: 0.5rem;
  font-size: 14pt;
}

.page-sizing {
  width: 100%;
  text-align: end;
  margin: .5rem 0;
}

.description-pagesize {
  color: #939699;
  font-size: 12pt;
  margin-right: .5rem;
}

.select-pagesize {
  background: rgb(233, 230, 230);
  border: 0;
  padding: .5rem;
  font-size: 16pt;
}

.table-container {
  border-radius: 5px;
  overflow: hidden;
  width: calc(80vw - 3px);
}

.info-table {
  margin: -2px;
  background: white;
  width: 80vw;
  border: 0;
  border-collapse: collapse;
}

.info-table td {
  border: 2px solid #939699;
  padding: 1rem;
}

.info-table thead td {
  cursor: pointer;
  background: #ccc;
}

.info-table thead td[data-order="1"]::after {
  display: inline-block;
  position: relative;
  left: 10px;
  content: "";
  width: 1px;
  height: 1px;
  border: 5px solid transparent;
  border-top: 5px solid #000;
}

.info-table thead td[data-order="-1"]::after {
  display: inline-block;
  position: relative;
  bottom: 5px;
  left: 10px;
  content: "";
  width: 1px;
  height: 1px;
  border: 5px solid transparent;
  border-bottom: 5px solid #000;
}

.empty {
  color: #939699;
  font-style: italic;
}

.empty-table {
  color: #939699;
  font-size: 16pt;
  margin: 2rem;
}

.pagelist {

  width: fit-content;
  list-style: none;
  padding: 0;
  margin: 2rem;
  border-bottom: 1px solid #939699;
}

.pagelist li {
  color: #ccc;
  font-size: 2rem;
  display: inline-block;
  padding: 3px;
  cursor: pointer;
}

.pagelist li.active {
  font-size: 2.5rem;
  font-weight: bold;
}